
@{
	ViewBag.Title = "ToDoList";
	Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim</del></p>
<p><del>#2 Tüm Başlıklarda paging</del> </p>
<p><del>#3 Mesajlarda Session</del> </p>
<p><del>#4 Oturum yönetiminin mimariye taşınması</del></p>
<p>#5 Token Kullanımı</p>

<h2> Admin Panelinde Yapılacaklar</h2>
<p>Başlıklarda Arama kutucuğu</p>
<p>Yazar Görselleri düzenlecek</p>
<p>Grafikler</p>
<p>Vitrin Teması</p>
<p>Gelen kutusunda arama</p>
<p>Yetkilendirmeler</p>
<p>Hata Sayfası Layouttan ayrılcak</p>
<p><del>Sözlük ve  Vitrin Ayrılacak</del></p>
<p>Herhangi bir tablo raporlanacak</p>
<p>Proje Dosyaları Sunucuya Taşınacak</p>
<p>Alan adı alınacak</p>
<p>Proje Canlıya Taşınacak</p>



